<h3>Tintin is here! With his dog Snowy!</h3>
<div class="tintinpic"><%= image_tag('tintin_dog.jpg') %></div>

<h3>Look at Tintin's entourage</h3>
<div class="tintinpic"><%= image_tag('tintin.png') %></div>

<span><h1>Tintin is such a pimp</h1></span>