<p>The stock price is converted with number_to_currency:</p>
<h3> <%= number_to_currency(@amount) %> </h3> 	<!-- # Converts numbers to currency on the output page -->

<p>Large numbers can be converted with number_to_human:</p>
<h3><%=	number_to_human(@large_number) %> </h3>

<p>Pheone numbers can be converted with number_to_phone:</p>
<h3><%= number_to_phone(@phone) %></h3>