<h1>Frequently Asked Questions</h1>
<h2>What vaccines does my cat need?</h2>
<p>If you have a indoor cat we recommend the 3-way vaccine which includes feline rhinotracheitis-calici-panleukopenia viruses (FRCP). If you have an outdoor cat or one who comes in and out, we recommend the FRCP, Feline Leukemia, & Rabies vaccines. Outdoor cats run the risk of coming in contact with these diseases when they mingle with other cats or animals.</p>

<h2>Should I test my cat for FeLV & FIV viral diseases?</h2>
<p>We recommend viral testing for all cats. These viruses can lay dormant, similar to AIDS in humans, and can cause problems in the future. They can be spread to any other cat in the household by cat to cat contact, so it is safest to screen any new cat before exposure to other cats.</p>

<h2>When should I sterilize my cat?</h2>
<p>The surgery can be performed anytime over the age of 8 weeks, but we generally recommend waiting until four to six months of age. Cats usually do not reach puberty before 6 months.</p>
