<h1><span>Welcome to Money Kitty and Movie Kitty!</span></h1>

<div class="home_page">
<div class="home_icon">
	<a href="/movie">
		<img src='http://png-3.findicons.com/files/icons/1261/sticker_system/256/movie.png'>
		<h3>Movies</h3>
	</a>
</div>

<div class="home_icon">
	<a href="/stock">
		<img src='http://icons.iconarchive.com/icons/fasticon/hand-draw-iphone/512/Stocks-icon.png'>
		<h3>Stocks</h3>
	</a>
</div>
</div>