<form action='/planets' method="post">
	<div class="entry">
		<label>Name: </label>
		<input type="text" name="planet[name]" autofocus>
	</div>

	<div class="entry">
		<label>Image: </label>
		<input type="text" name="planet[image]" >
	</div>

	<div class="entry">
		<label>Orbit: </label>
		<input type="text" name="planet[orbit]" >
	</div>

	<div class="entry">
		<label>Diameter: </label>
		<input type="text" name="planet[diameter]" >
	</div>

	<div class="entry">
		<label>Mass: </label>
		<input type="text" name="planet[mass]" >
	</div>

	<div class="entry">
		<label>Moons: </label>
		<input type="text" name="planet[moons]" >
	</div>

	<div class="entry">
		<button>Planet me!</button>
	</div>
</form>