<h1><span>Welcome to the Movie Kitty Homepage!</span></h1>
<h2>Let Movie Kitty help you find your movies!</h2>
<form action="/movie/lookup"> 

<label for="movie_name"> <h2>What do you feline watching?</h2> </label>
  <input type="text" name="movie_name" placeholder="The AristoCats" class="cform-text" size="40" title="movie_name">
  <input type="submit" value="Search Meow!" class="cform-submit">

</form>