<h1><span>Welcome to the Money Kitty homepage!</span></h1>
<h2>Let Money Kitty help you find your stocks!</h2>
<h2>What is the ticket for your stock?</h2>

<form action="/stock/lookup">
	<input name = "stock_symbol" class="basicform" placeholder = "Stock Ticker">
	<button> Lookup! </button>
</form>
